/*
// Demonstrate how mixin works
@mixin funkyBorder($borderSize: 10px, $borderColor: orange) {
  border: $borderSize solid $borderColor;

  * {
    // color: red;
    @content;
  }
}
*/

/*
// transfer to new file
@mixin desktop () {
  @media (min-width: 50rem) {
    @content
  }
}
*/

.page-content {
  display: flex;
  height: $page-content-height;
  margin: 0 auto;
  max-width: $site-max-width;

  // @media (min-width: 50rem) {
  @include desktop {
    padding: $large-space $space;
  }
}

.page-content__sidebar {
  display: flex;
  transition: left .3s ease;
  width: 100vw;

  position: fixed;
  top: $header-height;
  left: -100vw;
  // right: 0;
  bottom: 0;
  z-index: 1;

  // @media (min-width: 50rem) {
  @include desktop {
    display: flex;
    padding-right: $large-space;
    position: static;
    width: $page-content-sidebar-width;
  }
}

.is-nav-open .page-content__sidebar {
  left: 0;
  // display: block;
}

/*
@media (min-width: 50rem) {
  .page-content__sidebar {
    display: flex;
  }
}
*/

.page-content__main {
  display: flex;
  width: 100%;

  // @media (min-width: 50rem) {
  @include desktop {
    width: $page-content-main-width;

    /*
    // Demonstrate how mixin works
    // @include funkyBorder();
    // or
    @include funkyBorder(20px, purple) {
      // everything define here will take its effect
      // at @content of funkyBorder function
      color: green;
    };
    */
  }
}
